@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700);

html {
  overflow-x:hidden;
  overflow-y:scroll;
}
body {
  background: #131F2C;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2,h3,h4,h5,h6 {
  font-family: "Yanone Kaffeesatz", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
p,h2,h3,h4,h5,h6,ul {
  margin:20px 0;
}
a, strong{
  font-weight: 900;
}
a {
  color:#000;
  text-decoration:none;
}
a img {
  vertical-align: middle;
}
a:hover, a:hover {
  color:#444;
}
div#wrapper {
  overflow:hidden;
}
div#inner {
  width:640px;
  margin:50px auto;
  position:relative;
}
div#container {
  width:600px;
  background-color:#eee;
  border-radius:5px;
  box-shadow:0 1px 0 #fff;
  color:#222;
  font-size:15px;
  line-height:150%;
  opacity:0.9px;
  padding:20px;
  text-shadow:0 1px 0 #fff;
  position:relative;
  z-index: 1;
}
div#content img, div#content object, div#content iframe {
  display: block;
  margin: 0 auto;
  box-shadow:0 1px 0 #fff;
  border-radius: 5px;
  border: 5px #222 solid;
}
div#content a {
  text-decoration: underline;
  font-weight: normal;
}

div#content ul {
  list-style: disc;
}
div#content ol {
  list-style: upper-roman;
}
div#content ul, ol {
  margin: 0 25px;
}
div#content p.caption {
  text-align: center;
  margin-top: 5px;
  font-size: 13px;
  font-style: italic;
}

div#header {
  font-size:12px;
  margin:0 0 65px;
}
div#header ul {
  float:right;
  margin:0;
  margin: 0 -20px 0 0;
}
div#header li {
  float:left;
  margin:0 20px 0 0;
}
div.post {
  margin:50px 0 0;
}
div.post h3,div.post p {
  margin:5px 0;
}
div#ads {
  position:absolute;
  top: 100px;
  right: 0px;
}
div.carbonad {
  background-color: transparent !important;
  border: none !important;
}
div.ad {
  margin: 0px 0px 25px 0px;
}
div.box {
  width: 145px;
  background-color: #222;
  padding: 10px;
  border-radius: 5px;
  box-shadow:0 -1px 0 #444, 0 0 10px #222;
  z-index:0;
}
div.box a img {
  border-radius: 8px;
}
div#box a:hover {
  color: #ddd;
}
div.box p {
  margin:10px 0 0 0;
}
div#webbynode {
  padding: 0px 5px;
}
#header h1 a {
  display:inline;
  float:left;
  width: 64px;
  height: 64px;
  background: url("/images/avatar.png");
  text-indent: -9999px;
  background-color:#222;
  border-radius:5px;
  box-shadow:0 1px 0 #fff;
  text-shadow:0 1px 0 #000;
}
h1 a {
  color:#fff;
  font-weight:400;
}
h1 span {
  display: none;
  text-align: right;
  font-size: 10px;
  letter-spacing: 1px;
}
h1:hover span {
  display: block;
}
h2 {
  font-size:43px;
  text-align: center;
}
h3 {
  font-size:28px;
}
h3.subtitle {
  font-weight: normal;
  font-size: 20px;
  color: #555;
  text-align: center;
  margin-top: -5px;
}

h4 {
  font-size:21px;
}
h2,h3,h4,h5,h6 {
  font-weight:900;
  line-height:100%;
}
ul.columns {
  -moz-column-gap:20px;
  -moz-column-width:215px;
  -webkit-column-gap:20px;
  -webkit-column-width:215px;
  column-gap:20px;
  column-width:215px;
}
.small, p.date,p#footnote,p#footnote a,del,del a {
  color:#888;
}
.small, p#footnote {
  font-size:13px;
}
hr.hidden {
  visibility:hidden;
}
hr {
  clear:both;
}
hr.right {
  clear:right;
}
#content .highlight code {
  background: transparent;
  padding: 0;
}
code, pre {
  background: #D4D4D4;
  padding: 1px;
  font-family:"Monaco", "Courier New", monospace;
  font-size: 13px;
  line-height: 150%;
}
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
div#content pre {
  border-radius: 5px;
  box-shadow:0 -1px 0 #444;
  background-color:#222;
  color:#fff;
  font-size: 15px;
  padding: 20px;
  text-shadow:0 1px 0 #000;
  width: 640px;
  margin: 0px 0px 0px -40px;
}
div.notice, div.alert {
  border-radius: 5px;
  box-shadow:0 -1px 0 #fffddd;
  padding: 20px;
  text-shadow:0 1px 0 #dddaaa;
  width: 640px;
  margin: 0px 0px 5px -40px;
}
div.notice p, div.alert p {
  text-align: center;
  margin: 5px 0;
}
div.notice {
  background-color: #fffbbb;
}
div.alert {
  background-color: #fbe3e4;
}
em {
  font-style:italic;
}
blockquote {
  padding: 0px 0px 0px 10px;
  font-style:italic;
  border-left: 2px solid #888888;
}
div#disqus_thread {
  margin: 20px 0px 0px 0px;
}
div.dsq-options, div.dsq-sharing-options, div.dsq-dc-logo, div#dsq-global-toolbar, div#dsq-pagination {
  display:none !important;
}
p.article_date {
  float:left;
}
p.related {
  text-align: justify;
  font-size: 12px;
  color: #666;
  margin: 20px;
}

span.article_buttons {
  margin:20px 0;
  float:right;
  text-align: right;
}
.service_links {
  background: url("/images/services.png") no-repeat;
  width: 80px;
  height: 16px;
  margin: 0;
  padding: 0;
}
.service_links span {
  display: none;
}
.service_links li, .service_links a {
  height: 16px;
  display: block;
}
.service_links li {
  float: left;
  list-style: none;
  display: inline;
  width: 20px;
}
.service_rss a:hover {
  background: url("/images/services.png") 0px -16px no-repeat;
}
.service_instapaper a:hover {
  background: url("/images/services.png") -20px -16px no-repeat;
}
.service_twitter a:hover {
  background: url("/images/services.png") -40px -16px no-repeat;
}
.service_hackernews a:hover {
  background: url("/images/services.png") -60px -16px no-repeat;
}
img#mo {
  margin: -10px 0px -45px -75px;
}
img#mo:hover {
  margin: -12px 0px -43px -75px;
}

div.bookmarklet {
	text-align: center;
}
div.bookmarklet a {
	display: inline-block;
	padding: 8px 15px;
	background: #333;
	color: #FFF;
	border-radius: 10px;
	font-family: Georgia, Palatino, serif;
	font-weight: normal;
	text-decoration: none;
	text-shadow: none;
}
div.bookmarklet a:hover {
	background: #111;
}

form.search {
  margin: 40px 0 20px 0;
  text-align: center;
}

/* get tipsy */
.tipsy { padding: 5px; font-size: 10px; position: absolute; z-index: 100000; }
  .tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
  .tipsy-inner { border-radius: 3px; }
  .tipsy-arrow { position: absolute; background: url('../images/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
  .tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
  .tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
  .tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }

@media only screen and (max-device-width: 480px) {
  div#ads {
    position: relative;
    top: 0;
    left: 0;
  }
}
