---
layout: default
home: true
title: On Software, Life, &amp; the Space Between
---

<section class="main-wrapper excerpt-list">
  <header class="section-header">
    <h1>
      {% if paginator.page == 1 %}
        {{ page.title }}
      {% else %}
        <a href="/" title="Back to Page 1">Page {{ paginator.page }}</a>
      {% endif %}
    </h1>
    {% if page.subtitle %}
      <h2>{{ page.subtitle }}</h2>
    {% endif%}
  </header>

  {% for post in paginator.posts %}
    {% include excerpt.html %}
  {% endfor %}

  <div class="pagination">
    {% if paginator.previous_page %}
        <a class="previous" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Newer</a>
    {% endif %}
    <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a class="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older &raquo;</a>
    {% endif %}
  </div>

</section>
