// #Mixins
//////////////////////////////
.wrap {
  max-width: 740px;
  padding: 0 40px;
  margin: 0 auto;
  @media #{$tablet-query} {
    margin: 0 20px;
  }
  @media #{$tiny-query} {
    margin: 0;
  }
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visually-hidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visually-hidden.focusable:active, .visually-hidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.align-left { text-align: right; }
.align-center { text-align: center; }
.align-right { text-align: right; }
