// Responsive Widths
////////////////////
$huge: 1280px;
$desktop: 781px;
$tablet: $desktop - 1;
$mobile: 480px;
$tiny: 320px;
$huge-query: "only screen and (min-width: #{$huge})";
$desktop-query: "only screen and (min-width: #{$desktop})";
$tablet-query: "only screen and (max-width: #{$tablet})";
$mobile-query: "only screen and (max-width: #{$mobile})";
$tiny-query: "only screen and (max-width: #{$tiny})";

// Misc.
////////////////////
$radius: 2px;

$gutter-desktop: 40px;
$gutter-mobile: 20px;
