.icon-hackernews { background-image: url('png/hackernews.png'); background-repeat: no-repeat; }

.icon-instapaper { background-image: url('png/instapaper.png'); background-repeat: no-repeat; }

.icon-rss { background-image: url('png/rss.png'); background-repeat: no-repeat; }

.icon-shape-biblically { background-image: url('png/shape-biblically.png'); background-repeat: no-repeat; }

.icon-shape-blog { background-image: url('png/shape-blog.png'); background-repeat: no-repeat; }

.icon-shape-changelog { background-image: url('png/shape-changelog.png'); background-repeat: no-repeat; }

.icon-shape-github { background-image: url('png/shape-github.png'); background-repeat: no-repeat; }

.icon-shape-interface { background-image: url('png/shape-interface.png'); background-repeat: no-repeat; }

.icon-shape-objectlateral { background-image: url('png/shape-objectlateral.png'); background-repeat: no-repeat; }

.icon-shape-ows { background-image: url('png/shape-ows.png'); background-repeat: no-repeat; }

.icon-shape-rdio { background-image: url('png/shape-rdio.png'); background-repeat: no-repeat; }

.icon-shape-twitter { background-image: url('png/shape-twitter.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

