<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=yes"
    />
    <meta name="author" content="{{ .Site.Params.author }}" />
    {{ if not .IsHome }}
    <meta name="description" content="{{ .Summary }}" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Summary }}" />
    <meta property="og:type" content="article" />
    {{ with .Params.image }}
    <meta property="og:image" content="{{ . }}" />
    {{ else }}
    <meta property="og:image" content="/icon.png" />
    {{ end }} {{ end }}
    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    <link rel="icon" href="/icon.png" sizes="256x256" type="image/png" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="alternate" type="application/atom+xml" href="/feed.xml" />
  </head>
  <body>
    <div class="content">{{ block "main" . }}{{ end }}</div>
    <div class="graph-paper"></div>
  </body>
</html>
