<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=yes"
    />
    <title>{{ if .IsHome }}{{ .Site.Title }} | {{ end }}{{ .Title }}</title>
    <meta name="author" content="{{ .Site.Params.author }}" />
    {{ if .IsHome }}
    <meta name="description" content="I like writing, but not about myself." />
    {{ else }}
    <meta name="description" content="{{ .Summary }}" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Summary }}" />
    <meta property="og:type" content="article" />
    {{ with .Params.image }}
    <meta property="og:image" content="{{ . }}" />
    {{ else }}
    <meta property="og:image" content="/icon.png" />
    {{ end }} {{ end }}
    <link rel="icon" href="/icon.png" sizes="256x256" type="image/png" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    {{ $reset := resources.Get "reset.css" | resources.Minify |
    resources.Fingerprint "sha384" }}
    <link
      rel="stylesheet"
      href="{{ $reset.RelPermalink }}"
      integrity="{{ $reset.Data.Integrity }}"
    />
    {{ $styles := resources.Get "styles.css" | resources.Minify |
    resources.Fingerprint "sha384" }}
    <link
      rel="stylesheet"
      href="{{ $styles.RelPermalink }}"
      integrity="{{ $styles.Data.Integrity }}"
    />
    <link rel="alternate" type="application/atom+xml" href="/feed.xml" />
  </head>
  <body>
    <div class="content">{{ block "main" . }}{{ end }}</div>
    <div class="graph-paper"></div>
  </body>
</html>
