.excerpt {
  margin: 30px 0 0;
  p { margin: 0; }
}

.excerpt-header {
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 0;
  &, a {
    color: $orange;
  }
}

.excerpt-date {
  color: $blue;
  font-size: 0.85em;
  font-style: italic;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 4px 0 6px;
}

.excerpt-text {
  @extend .font-serif;
  color: $grey;
}

.category-list {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
  text-align: center;
  font-size: 1.5em;
  li {
    margin: 0;
    padding: 0;
    a {
      color: $orange;
    }
  }
}
