.excerpt, .st-result {
  margin: 30px 0 0;
  p { margin: 0; }
  a:hover h1, .title a:hover {
    color: $red;
  }
}

.st-result .title {
  font-size: 1em;
}

.excerpt-header, .st-result .title a {
  font-size: 1.2em;
  line-height: 1em;
  text-transform: uppercase;
  margin: 0;
  color: $orange;
  @include transition(color 0.3s ease-in-out);
}

.excerpt-date {
  color: $blue;
  font-size: 0.85em;
  font-style: italic;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 4px 0 2px !important;
}

.excerpt-text {
  @extend .font-serif;
  color: $grey;
}
