.main-header {
  position: relative;
  background: $darknavy;
  margin-bottom: 40px;
  padding: 30px 20px;
  text-align: center;
  @media #{$tiny-query} {
    margin-bottom: 0;
  }
  h1, a {
    margin: 0;
    font-size: 1em;
    font-weight: 500;
    display: inline;
  }
  h1 {
    position: absolute;
    width: 200px;
    left: 50%;
    margin: 0 0 0 -100px;
  }
  a {
    text-transform: uppercase;
    font-style: italic;
    color: $grey1;
    &:hover { color: $white; }
  }
  a.main-header-archive {
    margin-right: 140px;
    @media only screen and (max-width: 819px) {
      margin-right: 100px;
    }
  }
  a.main-header-contact {
    margin-left: 140px;
    @media only screen and (max-width: 819px) {
      margin-left: 100px;
    }
  }
  a.main-header-search {
    position: absolute;
    right: 40px;
    top: 31px;
  }
  @media only screen and (max-width:  599px)  {
    h1 {
      display: block;
      position: relative;
    }
    a.main-header-archive, a.main-header-contact, a.main-header-search {
      position: relative;
      right: auto; top: auto;
      margin: 5px 0 !important;
      display: block;
      opacity: 0.6;
    }
  }
}

.big-dot {
  @extend .font-serif;
  font-size: 2.1em;
  line-height: 10px;
  font-style: normal;
  margin: 0 10px;
  position: relative;
  top: 3px;
}
