.main-header {
  background: $darknavy;
  margin-bottom: 40px;
  padding: 30px 20px;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  h1, a {
    margin: 0;
    font-size: 1em;
    font-weight: 500;
    display: inline;
  }
  h1 {
    position: absolute;
    width: 200px;
    left: 50%;
    margin: 0 0 0 -100px;
  }
  a { color: $grey1; }
  a.main-header-archive {
    margin-right: 140px;
  }
  a.main-header-contact {
    margin-left: 140px;
  }
  @media #{$mobile-query} {
    h1 {
      display: block;
      position: relative;
    }
    a.main-header-archive, a.main-header-contact {
      margin: 0 !important;
      display: block;
      opacity: 0.6;
    }
  }
}

.big-dot {
  @extend .font-serif;
  font-size: 2.1em;
  line-height: 10px;
  font-style: normal;
  margin: 0 10px;
  position: relative;
  top: 3px;
}
