.main-header-search {
  position: absolute;
  width: 200px;
  right: 0;
  top: 0;
  bottom: 0;
  background: $darknavy;
  @media #{$tablet-query} {
    display: none;
  }
  &.is-active {
    width: 400px;
  }
  input {
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    @extend .font-sans;
    @include box-sizing(border-box);
    font-style: italic;
    color: $grey1;
    background: none;
    border: none;
    font-weight: 100;
    height: 100%;
    width: 100%;
    padding: 0 60px 0 20px;
    text-align: right;
    &:focus {
      background: $blue;
      outline: none;
    }
    @include placeholder {
      -webkit-text-size-adjust: none;
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
      -o-font-smoothing: antialiased;
      text-transform: uppercase;
      font-style: italic;
      color: $grey1;
      text-align: right;
      padding: 0;
      &:hover { color: $white; }
    }
  }
}

.autocomplete {
  background: darken($white, 8%);
  width: 400px !important;
  position: absolute;
  right: 0;
  left: auto !important;
  padding: 20px 0;
  @include transform(translateY(-1px));
  @media #{$tablet-query} {
    display: none !important;
  }
  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    li {
      margin: 0 40px;
      padding: 0;
      border-bottom: 1px solid darken($white, 15%);
      &:last-child {
        border-bottom: none;
      }
    }
    p {
      @extend .font-display;
      color: $orange;
      font-size: 1.2em;
      padding: 20px 0;
      margin: 0;
      cursor: pointer;
      text-transform: uppercase;
      &:hover {
        color: $red;
      }
    }
  }
}
