<table class="footer">
  <tr>
    <td>
      <a title="My Newsletter" href="/newsletter">Newsletter</a>
    </td>
    <td>
      <a title="On LinkedIn" href="https://linkedin.com/in/jerodsanto"
        >LinkedIn️</a
      >
    </td>
    <td>
      <a title="On Mastodon" href="https://changelog.social/@jerod">Mastodon</a>
    </td>
    <td>
      <a title="On GitHub" href="https://github.com/jerodsanto">GitHub</a>
    </td>
    <td>
      <a title="On X" href="https://x.com/jerodsanto">X</a>
    </td>
    <td>
      <a title="RSS Feed" href="/feed.xml">RSS</a>
    </td>
    <td>
      <a title="Contact Me" href="mailto:jerod.santo@gmail.com">Email</a>
    </td>
  </tr>
</table>
