<table class="footer">
  <tr>
    <td><a href="https://changelog.com">Changelog</a></td>
    <td><a href="mailto:jerod.santo@gmail.com">Email</a></td>
    <td><a href="https://linkedin.com/in/jerodsanto">LinkedIn</a></td>
    <td><a href="https://changelog.social/@jerod">Mastodon</a></td>
    <td><a href="https://github.com/jerodsanto">GitHub</a></td>
    <td><a href="https://x.com/jerodsanto">X</a></td>
    <td><a href="/feed.xml">RSS</a></td>
    <td><a href="mailto:jerod.santo@gmail.com">Contact</a></td>
  </tr>
</table>
