<header>
  <svg
    id="dragme"
    width="36px"
    height="36px"
    viewBox="0 0 36 36"
    version="1.1"
    preserveAspectRatio="xMidYMid meet"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    transform="rotate(180)"
  >
    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
    <g
      id="SVGRepo_tracerCarrier"
      stroke-linecap="round"
      stroke-linejoin="round"
    ></g>
    <g id="SVGRepo_iconCarrier">
      <title>drag-handle-corner-line</title>
      <circle
        cx="12"
        cy="24"
        r="1.5"
        class="clr-i-outline clr-i-outline-path-1"
      ></circle>
      <circle
        cx="18"
        cy="24"
        r="1.5"
        class="clr-i-outline clr-i-outline-path-2"
      ></circle>
      <circle
        cx="18"
        cy="18"
        r="1.5"
        class="clr-i-outline clr-i-outline-path-3"
      ></circle>
      <circle
        cx="24"
        cy="12"
        r="1.5"
        class="clr-i-outline clr-i-outline-path-4"
      ></circle>
      <circle
        cx="24"
        cy="24"
        r="1.5"
        class="clr-i-outline clr-i-outline-path-5"
      ></circle>
      <circle
        cx="24"
        cy="18"
        r="1.5"
        class="clr-i-outline clr-i-outline-path-6"
      ></circle>
      <rect x="0" y="0" width="36" height="36" fill-opacity="0"></rect>
    </g>
  </svg>
  <table>
    <tr>
      <td colspan="8" rowspan="2" class="title">
        <h1><a href="/" title="Go $HOME">Jerod Santo</a></h1>
        <span>Buy the truth, sell it not<sup>*</sup></span>
      </td>
    </tr>
    <tr></tr>
    <tr>
      <td>
        <a title="RSS Feed" href="/feed.xml"
          >📡 <span class="label">RSS</span></a
        >
      </td>
      <td>
        <a title="Jerod News" href="/news"
          >📥 <span class="label">News</span></a
        >
      </td>
      <td>
        <a title="On LinkedIn" href="https://linkedin.com/in/jerodsanto"
          >🖇️ <span class="label">LinkedIn</span></a
        >
      </td>
      <td>
        <a title="On GitHub" href="https://github.com/jerodsanto"
          >🐙 <span class="label">GitHub</span></a
        >
      </td>
      <td>
        <a title="On Instagram" href="https://www.instagram.com/jerod.santo"
          >📸 <span class="label">Instagram</span></a
        >
      </td>
      <td>
        <a title="Contact Me" href="mailto:jerod.santo@gmail.com"
          >📧 <span class="label">Contact</span></a
        >
      </td>
      <td>
        <a title="Changeloggin'" href="https://changelog.com">🎙️</a>
      </td>
      <td>
        <a title="On X" href="https://x.com/jerodsanto">𝕏</a>
      </td>
    </tr>
  </table>
</header>
