<table class="header">
  <tr>
    <td colspan="7" rowspan="2" class="title">
      <h1><a href="/" title="Go $HOME">Jerod Santo</a></h1>
      <span>Buy the truth, and do net sell</span>
    </td>
  </tr>
  <tr></tr>
  <tr>
    <td>
      <a title="RSS Feed" href="/feed.xml">📡 <span class="label">RSS</span></a>
    </td>
    <td>
      <a title="My Newsletter" href="/newsletter"
        >📥 <span class="label">Newsletter</span></a
      >
    </td>
    <td>
      <a title="On LinkedIn" href="https://linkedin.com/in/jerodsanto"
        >🖇️ <span class="label">LinkedIn</span></a
      >
    </td>
    <td>
      <a title="On GitHub" href="https://github.com/jerodsanto"
        >🐙 <span class="label">GitHub</span></a
      >
    </td>
    <td>
      <a title="On Instagram" href="https://www.instagram.com/jerod.santo"
        >📸 <span class="label">Instagram</span></a
      >
    </td>
    <td>
      <a title="Contact Me" href="mailto:jerod.santo@gmail.com"
        >📧 <span class="label">Contact</span></a
      >
    </td>
    <td>
      <a title="On X" href="https://x.com/jerodsanto">𝕏</a>
    </td>
  </tr>
</table>
