{{ define "header" }}
<div class="main-header">
  <h1>
    <a href="/" title="Home">
      <span class="big-dot">&middot;</span> Jerod Santo <span class="big-dot">&middot;</span>
    </a>
  </h1>
  <a href="/" title="View Blog Archives" class="main-header-archive">Blog</a>
  <a href="mailto:jerod.santo@gmail.com" title="Contact Jerod" class="main-header-contact">Contact</a>
</div>
{{ end }}

{{ define "main" }}
<div class="switchboard-alt">
  <ul>
    <li class="switch-blog"><a class="icon-shape-blog" href="http://blog.jerodsanto.net" title="">Blog</a></li>
    <li class="switch-objectlateral"><a class="icon-shape-objectlateral" href="http://objectlateral.com" title="">Object Lateral</a></li>
    <li class="switch-ows"><a class="icon-shape-ows" href="http://outwithsprout.com" title="">Out With Sprout</a></li>
    <li class="switch-interface"><a class="icon-shape-interface" href="http://interfaceschool.com" title="">Interface School</a></li>
    <li class="switch-changelog"><a class="icon-shape-changelog" href="http://thechangelog.com" title="">Changelog</a></li>
    <li class="switch-biblically"><a class="icon-shape-biblically" href="#" title="">Biblically Speaking</a></li>
    <li class="switch-github"><a class="icon-shape-github" href="http://github.com/jerodsanto" title="">Github</a></li>
    <li class="switch-twitter"><a class="icon-shape-twitter" href="http://twitter.com/jerodsanto" title="">Twitter</a></li>
    <li class="switch-rdio"><a class="icon-shape-rdio" href="http://rdio.com/jerodsanto" title="">Rdio</a></li>
  </ul>
</div>
{{ end }}