.icon-hackernews { background-image: url('png/hackernews.png'); background-repeat: no-repeat; }

.icon-instapaper { background-image: url('png/instapaper.png'); background-repeat: no-repeat; }

.icon-rss { background-image: url('png/rss.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

