@import "../bower_components/bourbon/dist/bourbon";
@import "base/_all";
@import "components/_all";

// #Structure
////////////////////

html {
  @extend .font-sans;
  background: $navy;
}

body {
  min-width: 320px;
  font-size: 16px;
}

.main-wrapper {
  @extend .wrap;
  padding: 10px 40px 40px;
  background: $white;
  border-radius: $radius;
}

.section-header {
  font-weight: bold;
  color: $red;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid $red;
  padding: 20px 0;
  h1, h2 {
    margin: 0;
  }
  h1 {
    font-size: 2.2em;
  }
}
