<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="Jerod Santo" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{ page.excerpt }}" />
    {% unless page.home %}
    <meta property="st:title" content="{{ page.title }}" />
    {% endunless %}
    <title>
      {% unless page.home %}{{ page.title }} | {% endunless %} Jerod Santo
    </title>

    <link rel="icon" href="/icon.png" sizes="256x256" type="image/png">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="all" href="/styles.css" />
    <script>
      /* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
      window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var r=t.document.createElement("link"),a=t.document.getElementsByTagName("script")[0];r.rel="stylesheet",r.href=e[o&&n?0:o?1:2],a.parentNode.insertBefore(r,a)},r=new t.Image;r.onerror=function(){o(!1)},r.onload=function(){o(1===r.width&&1===r.height)},r.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
      grunticon(["/icons/icons.data.svg.css", "/icons/icons.data.png.css", "/icons/icons.fallback.css"]);
    </script>

    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,400' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//use.typekit.net/ozg5mvx.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script src="/js/modernizr-custom.js"></script>

    {{ page.head }}
    <link rel="alternate" type="application/atom+xml" href="/feed.xml" />
  </head>
  <body class="{{ page.section }}">
    <div class="main-header">
      <h1>
        <a href="/" title="Home">
          <span class="big-dot">&middot;</span> Jerod Santo <span class="big-dot">&middot;</span>
        </a>
      </h1>
      <a href="javascript:void(0);" title="Moar" class="main-header-more">+</a>
      <a href="/archives/" title="View Blog Archives" class="main-header-archive">Archives</a>
      <a href="mailto:jerod.santo@gmail.com" title="Contact Jerod" class="main-header-contact">Contact</a>
      <a href="/search.html" title="Search the site" class="main-header-search">Search</a>
    </div>

    {{ content }}

    {% include footer.html %}

    <script src="/js/compiled.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-3287978-16', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
