---
layout: default
---

{% if page.author %}
  <p>
    This is a guest post written by <a href="http://twitter.com/{{ page.author.twitter }}" title="{{ page.author.full}}">@{{ page.author.twitter }}</a>. {{ page.author.description }}
  </p>
{% endif %}

<p class="article_date date">
  {{page.date | date_to_string}}
</p>

<span class="article_buttons">
  <ul class="service_links">
    <li class="service_rss">
      <a href="http://feeds.feedburner.com/nomeanblog" title="Subscribe to the feed!">
        <span>Subscribe to the feed!</span>
      </a>
    </li>
    <li class="service_instapaper">
      <a class="instapaper" href="#" title="Read this later!">
        <span>Read this later!</span>
      </a>
    </li>
    <li class="service_twitter">
      <a class="tweet" href="#" title="Tweet this!">
        <span>Tweet this!</span>
      </a>
    </li>
  </ul>
</span>

<hr class="hidden"/>

<div id="content">
  {{ content }}
</div>

<span class="article_buttons">
  <ul class="service_links">
    <li class="service_rss">
      <a href="http://feeds.feedburner.com/nomeanblog" title="Subscribe to the feed!">
        <span>Subscribe to the feed!</span>
      </a>
    </li>
    <li class="service_instapaper">
      <a class="instapaper" href="#" title="Read this later!">
        <span>Read this later!</span>
      </a>
    </li>
    <li class="service_twitter">
      <a class="tweet" href="#" title="Tweet this!">
        <span>Tweet this!</span>
      </a>
    </li>
  </ul>
</span>

<hr/>

<div id="disqus_thread"></div>
<script type="text/javascript">
  {% if site.dev %}
  var disqus_developer = 1;
  {% else %}
  var disqus_url   = '{{ site.url }}{{ page.url }}/';
  var disqus_title = '{{ page.title }}';
  {% endif %}
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://blogt0sk1.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>

{% if page.hackernews %}
<p id="footnote">
 ... or join the discussion on <a href="http://news.ycombinator.com/item?id={{ page.hackernews }}">Hacker News</a>.
</p>
{% endif %}
